[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
xgboost = "==1.6.2"
uvicorn = "*"
scikit-learn = "==1.0.2"
fastapi = "*"
pydantic = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
